@import "../spacing";
@import "../colors";
@import "../fonts";

$footer-height: 300px;

.footer {
    display: flex;

    &__profile-picture {
        height: $footer-height;
        padding: $horizontal-space-500;
        background-color: $gray-600;

        & img {
            border-radius: 100%;
            width: auto;
            height: 100%;
        }
    }

    &__info {
        flex-grow: 1;
        height: $footer-height;
        background-color: $gray-900;
        padding: $horizontal-space-500;
        display: flex;
    }

    &__about {
        color: $white;
        flex-grow: 1;
        padding-left: $horizontal-space-500;
        margin-left: calc(-1 * $horizontal-space-500 - 2px);
        border-left: 4px solid $gray-300;
        height: 100%;

        & h3,
        & p {
            max-width: 650px;
        }

        & h3 {
            font-size: $font-size-200;
            font-weight: bold;
        }
    }

    &__socials {
        width: 200px;
    }

    &__email {
        font-size: $font-size-50;
        margin-bottom: $vericatl-space-100;
    }

    &__description {
        font-size: $font-size-100;
        font-weight: 300;
    }
}
