@import "../spacing";
@import "../colors";

.footer {
    display: flex;

    &__profile-picture-section {
        width: 300px;
        padding: $horizontal-space-500;
        background-color: $gray-600;

        & img {
            border-radius: 100%;
            width: 100%;
            height: auto;
        }
    }

    &__text-section {
        flex-grow: 1;
        height: 100%;
    }
}
