@import "../spacing";
@import "../colors";

$footer-height: 300px;

.footer {
    display: flex;

    &__profile-picture-section {
        height: $footer-height;
        padding: $horizontal-space-500;
        background-color: $gray-600;

        & img {
            border-radius: 100%;
            width: auto;
            height: 100%;
        }
    }

    &__text-section {
        flex-grow: 1;
        height: $footer-height;
        background-color: $gray-900;
        padding: $horizontal-space-500;
    }

    &__about-section {
        color: $white;
        padding-left: $horizontal-space-500;
        margin-left: calc(-1 * $horizontal-space-500 - 2px);
        border-left: 4px solid $gray-300;
        height: 100%;
    }
}
