@import "../spacing";
@import "../colors";
@import "../fonts";

$text-width: 950px;

.stack-slider {
    padding: $vericatl-space-750 0;

    &__item {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding: $horizontal-space-500;
        border: 1px solid $black;
        border-radius: 100%;

        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    & h1,
    & p {
        margin: 0 auto;
        max-width: $text-width;
        text-align: center;
    }

    & h1 {
        font-size: $font-size-600;
        margin-bottom: $vericatl-space-100;
    }

    & p {
        font-size: $font-size-200;
        margin-bottom: $vericatl-space-500;
    }
}
