@import "../spacing";
@import "../colors";
@import "../fonts";

$text-width: 950px;

.stack-slider {
    padding: $vericatl-space-750 0;

    &__item {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding: $horizontal-space-500;
        border: 1px solid $black;
        border-radius: 100%;
        position: relative;

        & img {
            max-width: calc(200px - $horizontal-space-750);
            width: 100%;
            max-height: calc(200px - $vericatl-space-750);
            margin: 0 auto;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    & h1,
    & p {
        margin: 0 auto;
        max-width: $text-width;
        text-align: center;
    }

    & h1 {
        font-size: $font-size-600;
        margin-bottom: $vericatl-space-100;
    }

    & p {
        font-size: $font-size-200;
        margin-bottom: $vericatl-space-500;
    }
}
