@import "../fonts";
@import "../colors";
@import "../spacing";

.stepped-list {
    padding-top: $vericatl-space-750;
    padding-bottom: $vericatl-space-900;

    &__container {
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: $horizontal-space-500;
    }

    &__element {
        position: relative;
        height: 350px;

        &:nth-child(2) {
            margin-top: $vericatl-space-900;
        }

        &:nth-child(2n + 3) {
            margin-top: calc(-1 * $vericatl-space-900);
        }

        & h3 {
            font-size: $font-size-400;
            margin-bottom: $vericatl-space-250;
        }

        & p {
            font-size: $font-size-200;
        }

        & img {
            position: absolute;
            top: calc(-1 * $vericatl-space-250);
            right: 0;
            max-width: 70px;
            max-height: 70px;
            width: 100%;
        }
    }

    & h1 {
        font-size: $font-size-600;
        text-align: center;
        color: $black;
        margin-bottom: $vericatl-space-750;
    }
}
