@import "../fonts";
@import "../colors";
@import "../spacing";

$text-brake: 1000px;

.stepped-list {
    padding-top: $vericatl-space-750;
    padding-bottom: $vericatl-space-900;

    &__container {
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;

        @media (max-width: 600px) {
            grid-template-columns: auto;
        }
    }

    &__element {
        position: relative;
        margin: 0 $horizontal-space-250;
        margin-bottom: $vericatl-space-500;

        & h3 {
            font-size: $font-size-400;
            margin-bottom: $vericatl-space-250;

            @media (max-width: $text-brake) {
                font-size: $font-size-300;
            }
        }

        & p {
            font-size: $font-size-200;

            @media (max-width: $text-brake) {
                font-size: $font-size-100;
            }
        }

        & img {
            position: absolute;
            top: calc(-1 * $vericatl-space-250);
            right: 0;
            max-width: 70px;
            max-height: 70px;
            width: 100%;
        }

        @media (min-width: 830px) {
            &:nth-child(2) {
                margin-top: $vericatl-space-900;
            }

            &:nth-child(2n + 3) {
                margin-top: calc(-1 * $vericatl-space-900);
            }
        }
    }

    & h1 {
        font-size: $font-size-600;
        text-align: center;
        color: $black;
        margin-bottom: $vericatl-space-750;

        @media (max-width: $text-brake) {
            font-size: $font-size-500;
            margin-bottom: $vericatl-space-500;
        }
    }

    @media (max-width: $text-brake) {
        padding-top: $vericatl-space-500;
        padding-bottom: $vericatl-space-750;
    }
}
