@import "../spacing";
@import "../colors";
@import "../fonts";
@import "../animations";

.topbar {
    background: linear-gradient(-45deg, $blue-600, $blue-300, $blue-200);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    text-align: center;

    &__header {
        color: $white;
        font-size: $font-size-800;
        text-transform: uppercase;
        margin-bottom: $vericatl-space-750;
    }

    &__description {
        max-width: 950px;
        color: $white;
        font-size: $font-size-300;
        margin: 0 auto;
        padding: 0 $font-size-100;
        margin-bottom: $vericatl-space-500;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        color: $white;
        display: block;
        max-width: 260px;
        margin: 0 calc($font-size-300 / 2);
        padding: $horizontal-space-250 $horizontal-space-750;
        font-size: $font-size-300;
        font-weight: 300;
        text-decoration: none;
        border: 2px solid $white;
        border-radius: 40px;
    }

    &--half-size {
        padding: $horizontal-space-900 0;
        padding-bottom: $horizontal-space-750;
    }

    &--full-size {
        padding: $horizontal-space-900 0;
    }
}
