$vericatl-space-100: 8px;
$vericatl-space-250: 16px;
$vericatl-space-500: 32px;
$vericatl-space-750: 64px;
$vericatl-space-900: 128px;
$vericatl-space-1000: 256px;

$horizontal-space-100: 8px;
$horizontal-space-250: 16px;
$horizontal-space-500: 32px;
$horizontal-space-750: 64px;
$horizontal-space-900: 128px;
$horizontal-space-1000: 256px;
