@import "./fonts";

@import "./components/topbar";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-default;
    line-height: 160%;
}
