@import "./fonts";

@import "./components/topbar";
@import "./components/cta";
@import "./components/footer";
@import "./components/stepped-list";
@import "./components/stack-slider";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-default;
    line-height: 160%;
}
